<ion-header [translucent]="true">
    <ion-toolbar>
        <!-- <ion-title>
            Almacarone
        </ion-title> -->

        <ion-img style="width: 175px; margin-left: 20px;" src="../../assets/logo/brocha.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <!-- <ion-list>
        <ion-list-header>Esta es una pequeña prueba de como va a quedar el mapa</ion-list-header>
    </ion-list> -->

    <br>

    <ion-card style="border-radius: 10px;">
        <ion-card-header color='dark'>
            <ion-card-subtitle>Coloca tu direccion en el mapa</ion-card-subtitle>
            <ion-card-title>Tomando pedido</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div id="myMap" style='position:relative;width:auto;height:400px;'></div>
        </ion-card-content>
    </ion-card>


</ion-content>